package templates

// Slice is a single note's permalink page at /slices/{slug}.
templ Slice(s SliceItem) {
	@Layout(docTitle("Slice"), "/slices") {
		<div class="mx-auto max-w-measure">
			<div class="relative">
				@dateline(fmtDate(s.PublishedAt), "", "lg:top-6")
				@sliceCard(s, false)
			</div>
			<div class="mt-12">
				@indexLink("/slices#"+s.Slug, "See all slices")
			</div>
		</div>
	}
}
